ExamAssessmentWebAPI/ExamAssessmentWebAPI/Service References/ExamWCF/Service11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://ec2-54-215-138-178.us-west-1.compute.amazonaws.com/ExamAssessmentWCF/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/LMS1701.EA.SOAPAPI" />
  <xs:element name="GetData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="value" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetDataResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSubtopicList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSubtopicListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/LMS1701.EA.SOAPAPI" minOccurs="0" name="GetSubtopicListResult" nillable="true" type="q1:ArrayOfSubTopic" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAnswersQuestion">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Questid" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAnswersQuestionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/LMS1701.EA.SOAPAPI" minOccurs="0" name="GetAnswersQuestionResult" nillable="true" type="q2:ArrayOfAnswers" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllSubject">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllSubjectResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/LMS1701.EA.SOAPAPI" minOccurs="0" name="GetAllSubjectResult" nillable="true" type="q3:ArrayOfSubject" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getExamTemplate">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getExamTemplateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/LMS1701.EA.SOAPAPI" minOccurs="0" name="getExamTemplateResult" nillable="true" type="q4:ExamTemplate" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllQuestions">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllQuestionsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/LMS1701.EA.SOAPAPI" minOccurs="0" name="GetAllQuestionsResult" nillable="true" type="q5:ArrayOfQuestion" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllExamQuestion">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllExamQuestionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/LMS1701.EA.SOAPAPI" minOccurs="0" name="GetAllExamQuestionResult" nillable="true" type="q6:ArrayOfExamQuestion" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="spAddExistingCategory">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="subject" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="category" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="spAddExistingCategoryResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="spAddExistingSubtopicToCategory">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="subtopic" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="category" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="spAddExistingSubtopicToCategoryResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="spAddNewCategoryType">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="subject" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="category" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="spAddNewCategoryTypeResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="spAddQuestionAsExamQuestion">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ExamQuestionID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="QuestionID" type="xs:int" />
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="QuestionType" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="spAddQuestionAsExamQuestionResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="spAddQuestionCategories">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ExamQuestionID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="PKID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="spAddQuestionCategoriesResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="spAddQuestionToAnswer">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="QuestionID" type="xs:int" />
        <xs:element minOccurs="0" name="AnswerID" type="xs:int" />
        <xs:element minOccurs="0" name="isCorrect" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="spAddQuestionToAnswerResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="spAddQuestionToExam">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ExamID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ExamQuestionID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="weight" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="spAddQuestionToExamResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="spAddSubtopicType">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Subtopics" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Category" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="spAddSubtopicTypeResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="spDeleteQuestionCategory">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Categories" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ExamID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="spDeleteQuestionCategoryResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="spRemoveAnswerFromQuestion">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="QuestionID" type="xs:int" />
        <xs:element minOccurs="0" name="AnswerID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="spRemoveAnswerFromQuestionResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="spRemoveQuestionAsExamQuestion">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ExamQuestionID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="spRemoveQuestionAsExamQuestionResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="spRemoveQuestionFromExam">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ExamQuestionID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="QuestionID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="spRemoveQuestionFromExamResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AddSubject">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SubjectName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddSubjectResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteSubtopic">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SubtopicName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteSubtopicResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveSubtopicFromCategory">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SubtopicName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="CategoryName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveSubtopicFromCategoryResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteCategory">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CategoryName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteCategoryResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AddAnswer">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="QuestionID" type="xs:int" />
        <xs:element minOccurs="0" name="Answer" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="IC" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddAnswerResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteAnswer">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Answerdesc" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteAnswerResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveCategoryFromSubject">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CategoryName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="SubjectName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveCategoryFromSubjectResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteSubject">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SubjectName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteSubjectResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>