ExamAssessmentWebAPI/ExamAssessmentWebAPI/Service References/ExamWCF/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/LMS1701.EA.SOAPAPI" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/LMS1701.EA.SOAPAPI" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfSubTopic">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SubTopic" nillable="true" type="tns:SubTopic" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSubTopic" nillable="true" type="tns:ArrayOfSubTopic" />
  <xs:complexType name="SubTopic">
    <xs:sequence>
      <xs:element minOccurs="0" name="Subtopic_ID" type="xs:int" />
      <xs:element minOccurs="0" name="Subtopic_Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SubTopic" nillable="true" type="tns:SubTopic" />
  <xs:complexType name="ArrayOfAnswers">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Answers" nillable="true" type="tns:Answers" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAnswers" nillable="true" type="tns:ArrayOfAnswers" />
  <xs:complexType name="Answers">
    <xs:sequence>
      <xs:element minOccurs="0" name="Answer1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PKID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Answers" nillable="true" type="tns:Answers" />
  <xs:complexType name="ArrayOfSubject">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Subject" nillable="true" type="tns:Subject" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSubject" nillable="true" type="tns:ArrayOfSubject" />
  <xs:complexType name="Subject">
    <xs:sequence>
      <xs:element minOccurs="0" name="Subject_ID" type="xs:int" />
      <xs:element minOccurs="0" name="Subject_Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="listCat" nillable="true" type="tns:ArrayOfCategory" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Subject" nillable="true" type="tns:Subject" />
  <xs:complexType name="ArrayOfCategory">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Category" nillable="true" type="tns:Category" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCategory" nillable="true" type="tns:ArrayOfCategory" />
  <xs:complexType name="Category">
    <xs:sequence>
      <xs:element minOccurs="0" name="Categories_ID" type="xs:int" />
      <xs:element minOccurs="0" name="Categories_Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="subtopics" nillable="true" type="tns:ArrayOfSubTopic" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Category" nillable="true" type="tns:Category" />
  <xs:complexType name="ExamTemplate">
    <xs:sequence>
      <xs:element minOccurs="0" name="CreatedDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ExamQuestions" nillable="true" type="tns:ArrayOfExamQuestion" />
      <xs:element minOccurs="0" name="ExamTemplateID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ExamTemplateName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ExamType" nillable="true" type="tns:Examtype" />
      <xs:element minOccurs="0" name="PKID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ExamTemplate" nillable="true" type="tns:ExamTemplate" />
  <xs:complexType name="ArrayOfExamQuestion">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ExamQuestion" nillable="true" type="tns:ExamQuestion" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfExamQuestion" nillable="true" type="tns:ArrayOfExamQuestion" />
  <xs:complexType name="ExamQuestion">
    <xs:sequence>
      <xs:element minOccurs="0" name="ExamQuestionID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ExamQuestionName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ExamQuestion_Categories" nillable="true" type="tns:ArrayOfCategory" />
      <xs:element minOccurs="0" name="PKID" type="xs:int" />
      <xs:element minOccurs="0" name="QuestionType" nillable="true" type="tns:QuestionType" />
      <xs:element minOccurs="0" name="quest" nillable="true" type="tns:ArrayOfQuestion" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ExamQuestion" nillable="true" type="tns:ExamQuestion" />
  <xs:complexType name="QuestionType">
    <xs:sequence>
      <xs:element minOccurs="0" name="PKID" type="xs:int" />
      <xs:element minOccurs="0" name="QuestionTypeName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="QuestionType" nillable="true" type="tns:QuestionType" />
  <xs:complexType name="ArrayOfQuestion">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Question" nillable="true" type="tns:Question" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfQuestion" nillable="true" type="tns:ArrayOfQuestion" />
  <xs:complexType name="Question">
    <xs:sequence>
      <xs:element minOccurs="0" name="Answers" nillable="true" type="tns:ArrayOfAnswers" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PKID" type="xs:int" />
      <xs:element minOccurs="0" name="correct" nillable="true" type="tns:Correct" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Question" nillable="true" type="tns:Question" />
  <xs:complexType name="Correct">
    <xs:sequence>
      <xs:element minOccurs="0" name="isCorrect" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Correct" nillable="true" type="tns:Correct" />
  <xs:complexType name="Examtype">
    <xs:sequence>
      <xs:element minOccurs="0" name="ExamTemplates" nillable="true" type="tns:ArrayOfExamTemplate" />
      <xs:element minOccurs="0" name="ExamTypeName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PKID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Examtype" nillable="true" type="tns:Examtype" />
  <xs:complexType name="ArrayOfExamTemplate">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ExamTemplate" nillable="true" type="tns:ExamTemplate" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfExamTemplate" nillable="true" type="tns:ArrayOfExamTemplate" />
</xs:schema>