ExamAssessmentWebAPI/ExamAssessmentWebAPI/Service References/ServiceReference1/ExamassessmentWCF1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:61751/ExamassessmentWCF?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/LMS1701.EA.SOAPAPI" />
  <xs:element name="GetData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="value" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetDataResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSubtopicList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSubtopicListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/LMS1701.EA.SOAPAPI" minOccurs="0" name="GetSubtopicListResult" nillable="true" type="q1:ArrayOfSubTopic" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAnswersQuestion">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Questid" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAnswersQuestionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/LMS1701.EA.SOAPAPI" minOccurs="0" name="GetAnswersQuestionResult" nillable="true" type="q2:ArrayOfAnswers" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllSubject">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllSubjectResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/LMS1701.EA.SOAPAPI" minOccurs="0" name="GetAllSubjectResult" nillable="true" type="q3:ArrayOfSubject" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>