ExamAssessmentWebAPI/ExamAssessmentWebAPI/Service References/ServiceReference1/ExamassessmentWCF3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/LMS1701.EA.SOAPAPI" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/LMS1701.EA.SOAPAPI" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:61751/ExamassessmentWCF?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/ExamassessmentWCF.DTO" />
  <xs:complexType name="ArrayOfSubTopic">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SubTopic" nillable="true" type="tns:SubTopic" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSubTopic" nillable="true" type="tns:ArrayOfSubTopic" />
  <xs:complexType name="SubTopic">
    <xs:sequence>
      <xs:element minOccurs="0" name="Subtopic_ID" type="xs:int" />
      <xs:element minOccurs="0" name="Subtopic_Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SubTopic" nillable="true" type="tns:SubTopic" />
  <xs:complexType name="ArrayOfAnswers">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Answers" nillable="true" type="tns:Answers" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAnswers" nillable="true" type="tns:ArrayOfAnswers" />
  <xs:complexType name="Answers">
    <xs:sequence>
      <xs:element minOccurs="0" name="AddLanguageTypeID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Answer1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PKID" type="xs:int" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ExamassessmentWCF.DTO" minOccurs="0" name="correct" nillable="true" type="q1:Correct" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Answers" nillable="true" type="tns:Answers" />
  <xs:complexType name="ArrayOfSubject">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Subject" nillable="true" type="tns:Subject" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSubject" nillable="true" type="tns:ArrayOfSubject" />
  <xs:complexType name="Subject">
    <xs:sequence>
      <xs:element minOccurs="0" name="Subject_ID" type="xs:int" />
      <xs:element minOccurs="0" name="Subject_Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="listCat" nillable="true" type="tns:ArrayOfCategory" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Subject" nillable="true" type="tns:Subject" />
  <xs:complexType name="ArrayOfCategory">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Category" nillable="true" type="tns:Category" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCategory" nillable="true" type="tns:ArrayOfCategory" />
  <xs:complexType name="Category">
    <xs:sequence>
      <xs:element minOccurs="0" name="Categories_ID" type="xs:int" />
      <xs:element minOccurs="0" name="Categories_Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="subtopics" nillable="true" type="tns:ArrayOfSubTopic" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Category" nillable="true" type="tns:Category" />
</xs:schema>